<div>
    <mat-icon class="close-icon" (click)="handleDialogClose()">close</mat-icon>

    <h1>Edytuj znak</h1>
    <div class="content">
        <form autocomplete="on" [formGroup]="Form" class="form">
            <div>
                <mat-form-field>
                    <mat-label class="nameList">Nazwa znaku</mat-label>
                    <input matInput type="text" formControlName="RoadSignName">
                    <!-- <mat-error *ngIf="f.RoadSignName.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>kategoria</mat-label>
                    <mat-select formControlName="RoadSignCategory">
                        <!--required-->

                        <mat-option *ngFor="let category of signCategories" [value]="category">
                            {{category}}
                        </mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error> -->
                </mat-form-field>
            </div>
            <div>
                <div>
                    <img [src]="PhotoFilePath+FileName" height="200px" width="200px" alt="">
                </div>
                <div>
                    <input type="file" (change)="uploadPhoto($event)" name="PhotoFileName" class="mt-2" name="" id="" />
                </div>
            </div>
        </form>

        <div class="add">
            <button [disabled]="!Form.valid" mat-raised-button (click)="editSign()">Edytuj</button>
        </div>
    </div>
</div>