<div>
  <h1 class="header">znaki drogowe w zbiorze danych </h1>
  <div>
    <input [(ngModel)]="signNameFilter" class="form-control" (keyup)="FilterFn()" placeholder="Filter" type="text">
    <div class="addBtn">
      <button mat-raised-button type="button" (click)="addClick()">
        <mat-icon class="add_box">add_box</mat-icon> Dodaj
      </button>
    </div>
    <ul class="mainContainer">
      <li *ngFor="let sign of signsFromDataSet">
        <img [src]="PhotoFilePath+sign.PhotoFileName" height="250px" width="250px" alt="">
        <div>
          <span>{{sign.RoadSignName}}</span>
        </div>
        <div class="editDelButton">
          <button mat-raised-button color="basic" (click)="editClick(sign)">edytuj</button>
          <div class="delBtn">
            <button mat-raised-button color="warn" (click)="deleteClick(sign)">usuń</button>
          </div>
        </div>
      </li>
    </ul>

    <!-- <div *ngFor="let sign of signsFromDataSet" class="mainContainer" >
      <img [src]="PhotoFilePath+sign.PhotoFileName" height="250px" width="250px" alt="">
      <div>
        <span>{{sign.RoadSignName}}</span>
      </div>
      <div>
        <button>edytuj</button>
        <button (click)="deleteClick(sign)">usuń</button>

      </div>
  </div> -->
  </div>

</div>