<div>
  <h1 class="header">znaki drogowe w zbiorze danych </h1>
  <div>
    <div class="filterPanel">
      <span [matTooltip]="tooltipContent" class="goBackBtn material-icons" (click)="goBack()">
        arrow_back
      </span>
      <mat-form-field appearance="outline" class="filterByName">
        <input matInput type="text" [(ngModel)]="signNameFilter" class="form-control" (keyup)="search()"
          placeholder="Szukaj" type="text">
      </mat-form-field>
      <mat-form-field appearance="outline" class="filterByCategory">
        <mat-label>kategoria</mat-label>
        <mat-select [(ngModel)]="RoadSignCategory">
          <mat-option (click)="getByCategory(category)" *ngFor="let category of signCategories" [value]="category">
            {{category}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="addSignBtn">
        <button mat-raised-button type="button" (click)="addClick()">
          <mat-icon class="add_box">add_box</mat-icon> Dodaj
        </button>
      </div>
    </div>
    <!-- <ul class="mainContainer">
      <li *ngFor="let sign of signsFromDataSet">
        <img [src]="PhotoFilePath+sign.PhotoFileName" height="250px" width="250px" alt="">
        <div>
          <span>{{sign.RoadSignName}}</span>
        </div>
        <div class="editDelButton">
          <button mat-raised-button color="basic" (click)="editClick(sign)">edytuj</button>
          <div class="delBtn">
            <button mat-raised-button color="warn" (click)="deleteClick(sign)">usuń</button>
          </div>
        </div>
      </li>
    </ul> -->
  </div>
  <div class="viewport" infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="3" (scrolled)="onScroll()">
  <ul class="mainContainer">
    <li *ngFor="let sign of signsFromDataSet">
      <img [src]="PhotoFilePath+sign.PhotoFileName" height="250px" width="250px" alt="">
      <div>
        <span>{{sign.RoadSignName}}</span>
      </div>
      <div class="editDelButton">
        <button mat-raised-button color="basic" (click)="editClick(sign)">edytuj</button>
        <div class="delBtn">
          <button mat-raised-button color="warn" (click)="deleteClick(sign)">usuń</button>
        </div>
      </div>
    </li>
  </ul>
  <div *ngIf="signsFromDataSet?.length === 0" style="margin-left: 40px;">
    Brak wyników
  </div>
</div>