<mat-card>
    <mat-card-title>Rejestracja</mat-card-title>
    <mat-card-content>
        <div>
            <form autocomplete="on" [formGroup]="Form" class="form">
                <div>
                    <mat-form-field>
                        <mat-label>Login</mat-label>
                        <input matInput type="text" formControlName="username">
                        <mat-error *ngIf="f.username.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Hasło</mat-label>
                        <input matInput type="password" formControlName="password">
                        <mat-error *ngIf="f.password.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Powtórz Hasło</mat-label>
                        <input matInput type="password" formControlName="password2">
                        <mat-error *ngIf="f.password2.invalid && !f.password2.errors?.passwordMismatch">{{getErrorMessage()}}</mat-error>
                       <mat-error *ngIf="Form.get('password2').touched && Form.get('password2').errors?.passwordMismatch">Hasła
                        nie są takie same</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email">
                        <mat-error *ngIf="f.email.invalid">{{getErrorEmailMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Imie</mat-label>
                        <input matInput type="text" formControlName="first_name">
                        <mat-error *ngIf="f.first_name.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Nazwisko</mat-label>
                        <input matInput type="text" formControlName="last_name">
                        <mat-error *ngIf="f.last_name.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="err" *ngIf="error">{{error}} </div>
            </form>
            <div class="buttonGroup">
                <div class="registerBtn">
                    <button mat-raised-button (click)="register()">zajerestruj</button>
                </div>
                <div class="button">
                    <button mat-raised-button (click)="login()">zaloguj się</button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
