<mat-card>
    <mat-card-title>Rejestracja</mat-card-title>
    <mat-card-content>

        <div>
            <form autocomplete="on" [formGroup]="Form" class="form">
                <div>
                    <mat-form-field>
                        <mat-label>Login</mat-label>
                        <input matInput type="text" formControlName="username">
                        <!-- <mat-error *ngIf="f.RoadSignName.invalid">{{getErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Hasło</mat-label>
                        <input matInput type="password" formControlName="password">
                        <!-- <mat-error *ngIf="f.RoadSignName.invalid">{{getErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email">
                        <!-- <mat-error *ngIf="f.RoadSignName.invalid">{{getErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                </div>
            </form>
            <div>
                <button mat-raised-button (click)="register()">zajerestruj</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>