 <div>
    <mat-icon class="close-icon"  (click)="handleDialogClose()" >close</mat-icon>

    <h1>Dodaj znak</h1>
    <div>
        <form autocomplete="on" [formGroup]="Form" class="form">
            <div>
                <mat-label class="nameList">Nazwa znaku</mat-label>
                <mat-form-field>
                    <input matInput type="text" formControlName="RoadSignName">
                    <mat-error *ngIf="f.RoadSignName.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-label class="nameList">Kategoria</mat-label>
                <!-- <mat-form-field>
                    <input matInput type="text" formControlName="ListName">
                    <mat-error *ngIf="f.ListName.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field> -->
            </div>
        </form>


        <div class="add">
            <button [disabled]="!Form.valid" mat-raised-button (click)="AddSign()">Dodaj</button>
        </div>
    </div>
</div> 