.datasetBtn{
    display: flex;
    justify-content: flex-end;
    margin-right: 16px;
}

.title{
    margin-left: 2%;
}

.checkBtn{
    margin-left: 2%;
}
.file-input{
    display: none;
}
mat-radio-button{
    margin-left: 2%;
}